@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


:root {
    font-size: 18px;
    line-height: 1.2;
}

body {
    width: 100%;
    overflow-x: hidden;
    font-family: Roboto, sans-serif
}

video {
    display: block;
}

#fun {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("1-Mega biodiverse/pexels-tirachard-kumtanom-112571-584302.jpg");
    background-size: cover;
    background-position: center;
    border-bottom-style: dashed;
    border-bottom: 200px;
}

#facts img {
    margin-top: 200px;
    width: 500px;
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    border-style: solid;
    border-width: 10px;
}

#problems {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("6-Human Activity/pexels-catherinesheila-2409022.jpg");
    background-position: center;
    background-size: cover;
}

#negative img {
    margin-top: 200px;
    width: 500px;
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    border-style: solid;
    border-width: 10px;
}

#assist {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("7-Do Not Litter/pexels-mrwandart-2827735.jpg");
    background-position: center;
    background-size: cover;
}

#help img {
    margin-top: 200px;
    width: 400px;
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
    border-style: solid;
    border-width: 10px;
}

#diversetext, #fishtext, #coraltext, #overfishtext, #invasivetext, #humantext, #littertext, #assisttext, #environmenttext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Roboto;
    color: white;
    font-weight: bold;
    font-size: 2.3rem;
    border: solid;
    background-color: black;
    max-width: 50%;
    margin-left: 450px;
}

#fadepic1 li, #fadepic2 li, #fadepic3 li, #fadepic4 li, #fadepic5 li, #fadepic6 li, #fadepic7 li , #fadepic8 li , #fadepic9 li  {
    color: white;
    margin-bottom: 55px;
    font-family: Righteous;
    font-size: 1.4rem;
    font-weight: bold;
    transition: all 0.3s ease-out;
    list-style-type: none;
}

#fadepic1 li:hover, #fadepic2 li:hover, #fadepic3 li:hover, #fadepic4 li:hover, #fadepic5 li:hover, #fadepic6 li:hover, #fadepic7 li:hover, #fadepic8 li:hover, #fadepic9 li:hover {
    transform: scale(1.2);
}


#fun, #problems, #assist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}